/* Color vars */

:root {
    --orange: #F78D41;
    --blue: #7ABFFF;
    --gray: #b3b3b3;
    --dark-blue: #30323E
}

/* Common Styles */

* {
    color: black;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    display: inline-block;
    line-height: 36px;
    margin: 0;
}

a {
    text-decoration: none;
}

.section {
    padding-bottom: 70px;
}

.container {
    margin: auto;
    max-width: 1620px;
}

.section-title {
    font-size: 48px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1em;
    border-radius: 15px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.btn_orange {
    background-color: var(--orange);
}

.btn_orange:hover {
    background-color: #ff7b1d;
}

.btn_blue {
    background-color: var(--blue);
}

.btn_blue:hover {
    background-color: #41a3ff;
}

.page-title-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.page-title {
    font-size: 72px;
    line-height: 120px;
    font-weight: 600;
    text-align: center;
}

.page-subtitle {
    font-size: 30px;
    line-height: 45;
    padding-top: 10px;
}

.page-title-line {
    content: '';
    background-color: var(--blue);
    height: 3px;
    width: 550px;
}

.text_blue {
    color: var(--blue) !important;
}

/* Menu */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid var(--gray);
}

.mainlogo {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
}

.mainlogo .text_blue {
    font-size: 36px;
    font-weight: 700;
}

.nav-right {
    text-align: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: inline-block;
}

.nav-elem {
    margin-right: 50px;
    display: inline-block;
    transition: .3s ease-in-out;
}

.nav-elem_active {
    color: var(--blue);
}

.nav-elem:hover {
    color: var(--orange);
}

.nav-link {
    font-size: 24px;
    line-height: 1em;
    font-weight: 600;
    color: inherit;
}

.menu-icon {
    width: 65px;
    height: 45px;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
}

.menu-icon-elem {
    height: 10px;
    width: 100%;
    background-color: black;
    display: inline-block;
    content: '';
    line-height: 0;
    font-size: None;
    font-size: 0px;
    margin-bottom: 7px;
}

/* Header */

.header-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.header-left {
    max-width: 50%;
    position: relative;
}

.header-left-img {
    max-width: 100%;
}

.header-icon {
    position: absolute;
    filter: drop-shadow(5px 5px 5px #222);
}

.header-icon-csharp {
    top: 73px;
    right: 107px;
}

.header-icon-js {
    top: 260px;
    left: 40px;
}

.header-icon-python {
    bottom: 143px;
    right: 50px;
}

.header-right {
    max-width: 50%;
    padding: 100px;
}

.header-title {
    font-size: 62px;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-profession {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 45px;
}

.header-description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    
}

.header-button {
    max-width: 50%;
    min-width: 47%;
    display: block;
}

.header-button:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.header-button-left {
    margin-right: 15px;
}

/* About */

.about-text {
    line-height: 36px;
}

/* Activities */

.activity-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.activity-block:not(:last-child) {
    margin-bottom: 90px;
}

.activity-block-left {
    width: 50%;
    margin-right: 20px;
}

.activity-block-left.activity-block-text {
    padding-right: 70px;
}

.activity-block-right {
    width: 50%;
}

.activity-block-right.activity-block-text {
    padding-left: 70px;
}

.activity-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    font-weight: 500;
}

.activity-description {
    font-size: 22px;
    line-height: 36px;
}

.activity-block-img img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    border-radius: 25px;
    transition: .3s ease-in-out;
}

.activity-block-img img:hover {
    transform: translateY(-5px);
}

/* Secrtifications */

.section-certifications {
    padding-top: 20px;
}

.certification-wrapper {
    display: flex;
}

.certification-block {
    display: inline-block;
    width: 33%;
}

.certification-block:not(:nth-child(3n)) {
    border-right: 1px solid var(--gray);
}

.certification-block:not(:nth-last-child(-n+3)) {
    border-bottom: 1px solid var(--gray);
}

.certification-inner-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.certification-img {
    display: inline-block;
    max-width: 220px;
}

.certification-img img {
    width: 100%;
}

.certification-text {
    display: inline-block;
    font-size: 22px;
    line-height: 36px;
    margin-left: 10px;
    max-width: 285px;
}

.certification-name {
    font-weight: 500;
}

.certification-date {
    margin-top: 15px;
    font-style: italic;
}

/* footer */

.footer {
    background-color: var(--dark-blue);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-left-copyright {
    color: white;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-email {
    color: white;
    display: inline-block;
    margin-right: 30px;
    transition: .3s ease-in-out;
}

.footer-email:hover {
    color: var(--gray)
}

.footer-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-links li:not(:last-child){
    margin-right: 20px;
}

.footer-links-svg {
    width: 70px;
}

.footer-links path {
    fill: white;
    transition: .3s ease-in-out;
}

.footer-link:hover path {
    fill: var(--gray);
}

/* resume */

.section-resume {
    background: url("img/ResumeBG\ 1.png") no-repeat center;
    background-size: cover;
    height: 82.9vh;
}

.resume-title-block {
    padding-top: 200px;
}

.resume-title {
    color: white;
    margin-bottom: 60px;
}

.resume-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.resume-arrow {
    display: inline-block;
    max-width: 100px;
}

.resume-arrow:nth-child(2) {
    opacity: .75;
}

.resume-arrow:nth-child(3) {
    opacity: .5;
}

.resume-arrow:not(:last-child) {
    margin-bottom: 10px;
}

.resume-button-download {
    font-size: 36px;
    line-height: 50px;
    padding: 20px 110px;
}