/* Color vars */

:root {
    --orange: #F78D41;
    --blue: #7ABFFF;
    --gray: #b3b3b3;
    --dark-blue: #30323E
}

/* Common Styles */

* {
    color: black;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    display: inline-block;
    line-height: 36px;
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    min-height: 82.9vh;
}

.section {
    padding-bottom: 70px;
}

.container {
    margin: auto;
    max-width: 1620px;
}

.section-title {
    font-size: 48px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1em;
    border-radius: 15px;
    text-decoration: none;
    transition-property: color transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    align-self: center;
}

.btn_orange {
    background-color: var(--orange);
}

.btn_orange:hover {
    background-color: #ff7b1d;
}

.btn_blue {
    background-color: var(--blue);
}

.btn_blue:hover {
    background-color: #41a3ff;
}

.page-title-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.page-title {
    font-size: 60px;
    line-height: 120px;
    font-weight: 600;
    text-align: center;
}

.page-subtitle {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.page-title-line {
    display: inline-block;
    content: '';
    background-color: var(--blue);
    height: 3px;
    width: 500px;
}

.text_blue {
    color: var(--blue) !important;
}

.typed {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

.typed + .typed-cursor {
    font-size: inherit;
    font-size: 70%;
}

/* Menu */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid var(--gray);
}

.mainlogo {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
}

.mainlogo .text_blue {
    font-size: 36px;
    font-weight: 700;
}

.nav-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: inline-block;
    height: 1em;
    width: 0;
    overflow: hidden;
    transition: width .5s linear;
    display: flex;
}

.nav-list.active {
    width: 100%;
}

.nav-list.active + .menu-icon .menu-icon-elem {
    background-color: var(--blue);
}

.nav-list.active + .menu-icon .menu-icon-elem:nth-child(1) {
    transform: rotateZ(45deg) translate(9px, 15px);
}

.nav-list.active + .menu-icon .menu-icon-elem:nth-child(2) {
    opacity: 0;
}

.nav-list.active + .menu-icon .menu-icon-elem:nth-child(3) {
    transform: rotateZ(-45deg) translate(9px, -15px);
    
}

.nav-elem {
    margin-right: 50px;
    display: inline-block;
    transition: color .3s ease-in-out;
}

.nav-elem_active {
    color: var(--blue);
}

.nav-elem:hover {
    color: var(--orange);
}

.nav-link {
    font-size: 24px;
    line-height: 1em;
    font-weight: 600;
    color: inherit;
}

.menu-icon {
    width: 65px;
    height: 45px;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
}

.menu-icon-elem {
    height: 10px;
    width: 100%;
    background-color: black;
    display: inline-block;
    content: '';
    line-height: 0;
    font-size: None;
    font-size: 0px;
    margin-bottom: 7px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out;
    
}

/* Header */

.header-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.header-left {
    max-width: 50%;
    position: relative;
}

.header-left-img {
    max-width: 100%;
    pointer-events: none;
}

.header-icon {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(5px 5px 5px #222);
}

.header-icon-csharp {
    top: 73px;
    right: 107px;
}

.header-icon-js {
    top: 260px;
    left: 40px;
}

.header-icon-python {
    bottom: 143px;
    right: 50px;
}

.header-right {
    max-width: 50%;
    padding: 100px;
}

.header-title {
    font-size: 62px;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 30px;
    min-height: 2.5em;
}

/* .header-right .typed-cursor {
    font-size: 50px;
} */

.header-profession {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 45px;
}

.header-description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    
}

.header-button {
    max-width: 50%;
    min-width: 47%;
    display: block;
}

.header-button:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.header-button-left {
    margin-right: 15px;
}

/* About */

.about-text {
    line-height: 36px;
}

/* Activities */

.activity-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.activity-block:not(:last-child) {
    margin-bottom: 90px;
}

.activity-block-left {
    width: 50%;
    margin-right: 20px;
}

.activity-block-left.activity-block-text {
    padding-right: 70px;
}

.activity-block-right {
    width: 50%;
}

.activity-block-right.activity-block-text {
    padding-left: 70px;
}

.activity-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    font-weight: 500;
}

.activity-description {
    font-size: 22px;
    line-height: 36px;
}

.activity-block-img img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    border-radius: 25px;
    transition: transform .3s ease-in-out;
}

.activity-block-img img:hover {
    transform: translateY(-5px);
}

/* Secrtifications */

.section-certifications {
    padding-top: 20px;
}

.certifications-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.certification-block {
    display: inline-block;
    width: 33%;
}

.certification-block:not(:nth-child(3n)) {
    border-right: 1px solid var(--gray);
}

.certification-block:not(:nth-last-child(-n+3)) {
    border-bottom: 1px solid var(--gray);
}

.certification-inner-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.certification-img {
    display: inline-block;
    max-width: 220px;
}

.certification-img img {
    width: 100%;
}

.certification-text {
    display: inline-block;
    font-size: 22px;
    line-height: 36px;
    margin-left: 10px;
    max-width: 285px;
}

.certification-name {
    font-weight: 500;
}

.certification-date {
    margin-top: 15px;
    font-style: italic;
    color: var(--gray);
}

/* footer */

.footer {
    background-color: var(--dark-blue);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-left-copyright {
    color: white;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-email {
    color: white;
    display: inline-block;
    margin-right: 30px;
    transition: color .3s ease-in-out;
}

.footer-email:hover {
    color: var(--blue)
}

.footer-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-links li:not(:last-child){
    margin-right: 20px;
}

.footer-links-svg {
    width: 70px;
}

.footer-links path {
    fill: white;
    transition: fill .3s ease-in-out;
}

.footer-link:hover path {
    fill: var(--blue);
}

/* resume */

.section-resume {
    background: url("img/ResumeBG\ 1.png") no-repeat center;
    background-size: cover;
    height: 82.9vh;
}

.resume-title-block {
    padding-top: 200px;
}

.resume-title {
    color: white;
    margin-bottom: 60px;
}

.resume-title .typed-cursor {
    font-size: 50px;
    color: white;
}

.resume-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.resume-arrow {
    display: inline-block;
    max-width: 100px;
    opacity: 0;
    transition: opacity .2s ease-in;
}

.resume-arrow:not(:last-child) {
    margin-bottom: 10px;
}

.resume-button-download {
    font-size: 36px;
    line-height: 50px;
    padding: 20px 110px;
}

/* Projects */

.projects-link {
    font-size: inherit;
    font-weight: inherit;
    color: var(--orange);
}

.projects-wrapper {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: 47.5%;
    padding: 45px 30px;
    border-radius: 35px;
    display: inline-block;
    /* border: 4px solid rgb(252, 172, 115); */
    margin-bottom: 50px;
    box-shadow: rgba(252, 172, 115, 0.5) 0px 1px 2px 0px, rgba(252, 172, 115, 0.5) 0px 1px 3px 1px;
    transition: box-shadow .3s ease-in-out;
}

.project-item:nth-child(4n+1),
.project-item:nth-child(4n) {
    /* border-color: rgb(129, 155, 246); */
    box-shadow: rgba(129, 155, 246, 0.5) 0px 1px 2px 0px, rgba(129, 155, 246, 0.5) 0px 1px 3px 1px;
}

.project-item:hover {
    box-shadow: rgba(252, 172, 115, 0.25) 0px 54px 55px, rgba(252, 172, 115, 0.12) 0px -12px 30px, rgba(252, 172, 115, 0.12) 0px 4px 6px, rgba(252, 172, 115, 0.17) 0px 12px 13px, rgba(252, 172, 115, 0.09) 0px -3px 5px;
}

.project-item:nth-child(4n+1):hover,
.project-item:nth-child(4n):hover {
    box-shadow: rgba(129, 155, 246, 0.25) 0px 54px 55px, rgba(129, 155, 246, 0.12) 0px -12px 30px, rgba(129, 155, 246, 0.12) 0px 4px 6px, rgba(129, 155, 246, 0.17) 0px 12px 13px, rgba(129, 155, 246, 0.09) 0px -3px 5px;
}

.project-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
}

.project-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 30px;
}

.project-img {
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.projects-new {
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    width: 100%;
}

/* Contact */

.contact-title {
    line-height: 1em;
    padding: 35px 0 20px 0;
}

.contact-form {
    margin-top: 70px;
    display: block;
    width: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.input-name {
    display: inline-block;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.input-item input {
    font-weight: 400;
    font-size: 36px;
    line-height: 32px;
    width: 500px;
    border-radius: 5px;
    border-color: var(--gray)
}

.contact-text {
    margin-top: 15px;
    display: block;
    width: 100%;
    resize: none;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 30px 20px;
}

.contact-button {
    margin: 0 auto;
    display: block;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1em;
    width: 400px;
    padding: 26px 0;
}

.contact-button:active {
    background-color: #ff6a00;
    cursor: not-allowed;
}

@media screen and (max-width: 1750px) {
    
    /* Index page */
    
    .container {
        max-width: 1400px;
    }
    
    .header-right {
        padding: 50px;
    }
    
    .header-title {
        font-size: 56px;
        min-height: 2.8em;
    }
    
    .header-profession {
        font-size: 26px;
        margin-bottom: 30px;
    }
    
    .header-description {
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    .certification-img {
        max-width: 150px;
        max-height: 150px;
    }
    
    /* Contact Page */
    
    .input-item {
        max-width: 50%;
    }
    
    .input-item:first-child {
        margin-right: 50px;
    }
    
    .input-item input {
        width: 100%;
        display: inline-block;
    }
    
}

@media screen and (max-width: 1450px) {
    
    /* Index page */
    
    .section {
        padding-bottom: 60px;
    }
    
    .container {
        max-width: 1100px;
    }
    
    .nav-link {
        font-size: 22px;
    }
    
    .header-wrapper {
        align-items: center;
    }
    
    .header-icon {
        max-width: 55px;
    }
    
    .header-icon-csharp {
        top: 50px;
        right: 100px;
    }
    
    .header-icon-js {
        top: 200px;
        left: 30px;
    }
    
    .header-icon-python {
        bottom: 120px;
        right: 55px;
    }
    
    .header-right {
        padding: 30px;
    }
    
    .header-title {
        font-size: 46px;
        line-height: 1.4em;
    }
    
    .header-profession {
        font-size: 24px;
    }
    
    .header-button {
        padding: 20px 10px;
        font-size: 20px;
    }
    
    .section-title {
        font-size: 40px;
    }
    
    .about-text {
        font-size: 18px;
        line-height: 32px;
    }
    
    .activity-title {
        font-size: 28px;
        margin-bottom: 25px;
    }
    
    .activity-block-text {
        font-size: 18px;
        line-height: 32px;
    }
    
    .activity-block-left.activity-block-text {
        padding-right: 30px;
    }
    
    .activity-block-right.activity-block-text {
        padding-left: 30px;
    }
    
    .certifications-wrapper {
        flex-wrap: wrap;
    }
    
    .certification-block {
        width: 50%;
        align-items: center;
        padding: 15px;
        border: none !important;
    }
    
    .certification-block:not(:nth-child(2n)) {
        border-right: 1px solid var(--gray) !important;
    }
    
    .certification-block:not(:nth-last-child(-n+2)) {
        border-bottom: 1px solid var(--gray) !important;
    }
    
    .footer-left-copyright,
    .footer-email {
        font-size: 20px;
    }
    
    .footer-links-svg {
        width: 50px;
    }
    
}

@media screen and (max-width: 1150px) {
    
    /* Index page */
    
    .container {
        width: 950px;
    }
    
    .header-icon-csharp {
        top: 40px;
    }
    
    .header-icon-js {
        left: 20px;
    }
    
    .header-icon-python {
        bottom: 80px;
        right: 50px;
    }
    
    .header-title {
        font-size: 38px;
        min-height: 1em;
        line-height: 1em;
        margin-bottom: 20px;
    }
    
    .header-profession {
        font-size: 20px;
    }
    
    .header-description {
        font-size: 18px;
        line-height: 32px;
    }
    
    .header-button {
        font-size: 18px;
        font-weight: 500;
    }
    
    .header-button-left {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    
    /* Index page */
    
    .container {
        width: 850px;
    }
    
    .nav-elem {
        margin-right: 40px;
    }
    
    .nav-link {
        font-size: 18px;
    }
    
    .menu-icon {
        height: 37px;
        width: 50px;
    }
    
    .menu-icon-elem {
        height: 6px;
    }
    
    .nav-list.active + .menu-icon .menu-icon-elem:nth-child(1) {
        transform: rotateZ(45deg) translate(0px, 18px);
    }
    
    .nav-list.active + .menu-icon .menu-icon-elem:nth-child(2) {
        opacity: 0;
    }
    
    .nav-list.active + .menu-icon .menu-icon-elem:nth-child(3) {
        transform: rotateZ(-45deg) translate(0px, -18px);
        
    }
    
    .header-left-img {
        border-radius: 15px;
    }
    
    .header-icon {
        max-width: 45px;
    }
    
    .header-icon-csharp {
        right: 80px;
    }
    
    .header-icon-js {
        top: 180px;
    }
    
    .header-icon-python {
        bottom: 75px;
        right: 40px;
    }
    
    .header-title {
        font-size: 33px;
        margin-bottom: 10px;
    }
    
    .header-profession {
        margin-bottom: 15px;
    }
    
    .header-description {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    
    .header-buttons {
        flex-direction: column;
    }
    
    .header-button {
        max-width: 100%;
        width: 100%;
        font-weight: 600;
    }
    
    .header-button-left {
        margin-bottom: 15px;
    }
    
    .activities-container .section-title {
        margin-bottom: 60px;
    }
    
    .activity-block {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .activity-block_even {
        flex-direction: column-reverse;
    }
    
    .activity-block-text {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .activity-block-img {
        width: 100%;
    }
    
    .activity-description {
        margin-bottom: 20px;
    }
    
    .certification-block {
        padding: 0;
    }
    
    .certification-name {
        font-size: 18px;
    }
    
    .certification-date {
        font-size: 16px;
        margin-top: 5px;
    }
    
    .certification-img {
        max-width: 109px;
    }
    
    .footer-wrapper {
        flex-direction: column;
    }
    
    .footer-left {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 875px) {
    
    /* Index page */
    
    .container {
        max-width: 720px;
        padding: 0 15px;
    }
    
    .nav {
        position: relative;
    }
    
    .nav-list {
        position: absolute;
        top: 80px;
        background-color: var(--dark-blue);
        height: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: height .5s linear, padding .5s linear;
        z-index: 10;
    }
    
    .nav-list.active {
        height: 190px;
        padding: 20px 30px;
    }
    
    .nav-elem {
        color: white;
        margin-right: 0;
        font-size: 20px;
    }
    
    .nav-elem:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .nav-elem_active {
        color: var(--orange);
    }
    
    .header-icon-csharp {
        right: 60px;
        top: 25px;
    }
    
    .header-icon-js {
        top: 140px;
    }
    
    .header-icon-python {
        bottom: 65px;
        right: 30px;
    }
    
    .header-title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    
    .header-profession {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .header-button {
        font-size: 16px;
        padding: 15px 10px;
        width: 80%;
    }
    
    .section-title {
        font-size: 26px;
    }
    
    .about-text {
        font-size: 16px;
    }
    
    .activity-block:not(:last-child) {
        margin-bottom: 50px;
    }
    
    .activity-title {
        font-size: 22px;
    }
    
    .activity-description {
        font-size: 16px;
    }
    
    .certification-inner-block {
        justify-content: flex-start;
    }
    
    .certification-name {
        display: block;
        font-size: 16px;
    }
    
    .certification-date {
        font-size: 14px;
    }
    
    /* Resume page */
    
    .nav.resume-page .nav-list {
        top: 87px;
    }
    
    .nav.resume-page {
        border-bottom: none;
    }
    
    .page-title {
        font-size: 50px;
        line-height: 75px;
    }
    
    .resume-arrow {
        max-width: 85px;
    }
    
    .resume-button-download {
        font-size: 32px;
        padding: 18px 90px;
    }
    
    /* Projects Page */
    
    .page-subtitle {
        font-size: 22px;
    }
    
    .project-name {
        font-size: 26px;
    }
    
    .project-description {
        font-size: 18px;
    }
    
    .projects-new {
        font-size: 28px;
    }
    
    /* Contact Page */
    
    .contact-container {
        padding-bottom: 40px;
    }
    
    .input-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .input-item {
        max-width: 100%;
    }
    
    .input-item:first-child {
        margin-right: 0;
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 720px) {
    
    .container {
        width: auto;
    }
    
    .mainlogo {
        font-size: 30px;
        transform: translateY(-5px);
    }
    
    .nav-elem {
        font-size: 16px;
        margin-right: 30px;
    }
    
    .header-wrapper {
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    
    .header-left {
        max-width: 100%;
    }
    
    .header-right {
        max-width: 100%;
        padding: 0 10px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .header-title {
        font-size: 36px;
        margin-bottom: 15px;
    }
    
    .header-profession {
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    .header-icon {
        max-width: 9.5%;
    }
    
    .header-icon-csharp {
        top: 40px;
    }
    
    .header-icon-js {
        left: 20px;
        top: 200px;
    }
    
    .header-icon-python {
        bottom: 80px;
        right: 50px;
    }
    
    .header-buttons {
        flex-direction: row;
        align-items: center;
    }
    
    .header-button {
        max-width: unset;
        width: unset;
        margin: 0;
    }
    
    .section {
        padding-bottom: 45px;
    }
    
    .certifications-wrapper {
        justify-content: space-around;
    }
    
    .certification-block:nth-child(n) {
        border: none !important;
        max-width: 150px;
        height: auto;
        margin-bottom: 30px;
    }
    
    .certification-inner-block {
        padding: 0 10px 0 0;
    }
    
    .certification-img {
        max-width: 100%;
    }
    
    .certification-text {
        display: none;
    }
    
    /* Projects Page */
    
    .projects-wrapper {
        flex-direction: column;
    }
    
    .project-item {
        width: 100%;
    }
    
    .projects-title {
        text-align: center;
    }
    
    /* Contact Page */
    
    .contact-button {
        max-width: 90%;
        font-size: 30px;
        padding: 20px 0;
    }
    
}

@media screen and (max-width: 525px) {
    
    .mainlogo {
        font-size: 25px;
    }
    
    .nav-link {
        font-size: 16px;
    }
    
    .nav-elem {
        margin-right: 20px;
        
    }
    
    .menu-icon {
        height: 31px;
        width: 45px;
    }
    
    .menu-icon-elem {
        height: 5px;
    }
    
    
    .nav-list.active + .menu-icon .menu-icon-elem:nth-child(3) {
        transform: rotateZ(-45deg) translate(-1px, -18px);
    }
    
    .footer-right {
        flex-direction: column;
    }
    
    .footer-email {
        margin-bottom: 20px;
    }
    
    .about-text {
        font-size: 14px;
        line-height: 28px;
    }
    
    .activity-description {
        font-size: 14px;
        line-height: 28px;
    }
    
    .footer-left-copyright {
        font-size: 18px;
        text-align: center;
    }
    
    .footer-email {
        font-size: 18px;
        margin-right: 0;
    }
    
    .footer-links-svg {
        width: 50px;
    }
    
    /* Resume Page */
    
    .nav.resume-page .nav-list {
        top: 81px;
    }
    
    .main {
        min-height: 76.55vh;
    }
    
    .section-resume {
        height: auto;
        padding-bottom: 0;
        min-height: inherit;
    }
    
    .resume-title-block {
        padding: 100px 0;
    }
    
    /* Projects Page */
    
    .page-subtitle {
        font-size: 20px;
    }
    
    .page-title-line {
        width: 50%;
    }
    
    .projects-wrapper {
        margin-bottom: 30px;
    }
    
    .project-item {
        padding: 30px 20px;
    }
    
    /* Contact Page */
    
    .input-name {
        font-size: 26px;
    }

    .input-item input {
        font-size: 26px;
    }

    .contact-button {
        font-size: 26px;
        padding: 16px 0;
    }
    
}

@media screen and (max-width: 415px) {
    
    .header-icon-js {
        top: 165px;
    }
    
    .header-profession {
        margin: 0 auto;
        max-width: 200px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    
    .activities-container .section-title {
        margin-bottom: 35px;
    }
    
    .certification-block {
        width: 110px;
    }
    
    .header-buttons {
        flex-direction: column;
    }
    
    .header-button {
        width: 80%;
    }
    
    .header-button-left {
        margin-bottom: 15px;
    }
    
    .page-title {
        padding-top: 30px;
        font-size: 40px;
        line-height: 55px;
    }
    
    /* Resume Page */
    
    .resume-title {
        padding-top: 0;
        margin-bottom: 40px;
    }
    
    .resume-arrow {
        max-width: 70px;
    }
    
    .resume-arrows {
        margin-bottom: 40px;
    }
    
    .resume-arrow:not(:last-child) {
        margin-bottom: 3px;
    }
    
    .resume-button-download {
        font-size: 30px;
        line-height: 40px;
        padding: 16px 50px;
    }
    
}


/* Surface pro and other square-like screens */
@media screen and (min-width: 526px) and (max-height: 800px) {
    
    .resume-title-block {
        padding-top: 50px;
    }
}

/* Nested Hub and similar devices */
@media screen and (min-width: 876px) and (max-height: 700px) {
    
    .section-resume {
        height: 110vh;
    }
    
}